/**************************************************************************************/
/***************************** PAGE ACTUALITÉ - Le CSS *******************************/
/************************************************************************************/


/*CADRE INVISIBLE DE LA PAGE ACTU*/
.actualites{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

/* ce DIV regroupe les deux vues de l'article (summary et détail). Il est important*/
.cadre {
    position: relative;
    height: 450px;
}

.titre_page_actu {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
}

/* Style des listes déroulantes Mois et Années*/
.listes_deroulantes{
    text-align:center;
    width: 100%;
    padding:10px;
    height: 92px;
}

select {
    padding:3px;
    margin-bottom: 10px !important;
    color:#13191c;
    border:3px solid black;
    outline:none;
    background-color: #F9BB07;
    cursor:pointer;
    text-transform: uppercase;
    font-weight: bold;
}

option {
    text-transform: uppercase;
    font-weight: bold;}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {padding-right:18px}
}

/*Présence de la barre noire sous les listes déroulantes*/
.barre_noire {
    border-bottom: 3px solid black;
    width:580px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Pour que les listes déroulantes soient l'une sous l'autre.*/
.postform {
    display: block;
}

/* Début des panneaux*/
.margeGauche{
    display: inline-block;
    background-image: url(images/motif_ceinture_noir_actus.png);
    background-color: #F9BB07;
    position:relative;
    width: 45px;
    height: 450px;
    background-size: 700px;
} 

/*Fil actu sans effet*/
.summary{
    display: inline-block;
    background-color: #F9BB07;
    width: 585px;                         
    height: 450px;
    overflow:hidden;
    position:absolute; 
    color:#13191c;
}

.summary a {
    color:#13191c!important;
    font-weight: bold;
}

.summary_cont{

    height: 345px;
    overflow:auto !important;
    margin-top: -10px;
}

/*Fil actu avec effet*/
.detail{
    display: inline-block;
    background-color: #F9BB07;          
    position:absolute;
    left:400px;
    width: 585px;                         
    height: 345px;
    overflow:auto;
    bottom: 0px;
    visibility: hidden;
    margin-left: -5px;
}

.detail a {
    color:#13191c !important;
    font-weight: bold;
}

/*Partie noire entre Summary et Immanquable*/
.intercalaire{
    display: inline-block;
    background-color: #13191c;
    position:absolute; left:750px;      /* 45% */
    width: 20px;                          /* 1% */
    height: 450px;
} 

/*Partie Immanquable*/
.important{
    display: inline-block;
    background-color: #45484A;
    position:absolute; 
    left:645px;        /* 46%   56% */
    width: 305px;                         /* 30%   40% */
    height: 450px;
    overflow:auto;
}

/* Partie pour dissimuler Detail*/
.margeDroite{
    display: inline-block;
    background-color: #13191c;
    position:absolute; 
    left:950px;
    width: 380px;
    height: 450px;
} 

/* Intérieur des fils dactu*/
.cont { 
/* cette classe pour les propriétés communes des 3 panneaux */
    height: 100px;
    cursor: pointer;
}

.cont_detail {
    /* cette classe pour les propriétés communes des 3 panneaux */
    height: 100px;
    margin-left: 10px;
    margin-right: 10px;
}

/*Mise en page des dates de Summary*/
.sumdate{
    border-top:4px solid #13191c;
    border-bottom:4px solid #13191c;
    float: left;
    font-family: 'Lato', Arial;
    margin:10px;
    text-align: left;
    line-height: 22px;
    text-transform: uppercase;
    padding-top: 5px;
    width: 47px;
    
}

.sumdate_number {
    font-weight: 900;
    font-size: 36px;
    letter-spacing: -1px;
}

.sumdate_jour {
    font-size: 22px;
    margin-top: 3px;
    font-weight: 500;}

.sumdate_mois {
    font-size: 18px;
    letter-spacing: -1px;
    margin-top: -3px;
    font-weight: 500;
}

/*Mise en page des dates de Important*/
.sumdateimportant{
    border-top:4px solid #FFF;
    border-bottom:4px solid #FFF;
    margin:10px;
    padding-top: 5px;
    float: left;
    width: 43px;
    font-family: 'Lato', Arial;
    text-align: left;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFF;
    opacity: 0.7;
}

.sumdateimportant_number {
    font-weight: 600;
    font-size: 33px;
    letter-spacing: -1px;}

.sumdateimportant_jour {
    font-size: 19px;
    margin-top: 2px;
    font-weight: 500;
}

.sumdateimportant_mois {
    font-size: 15px;
    margin-top: -5px;
    font-weight: 500;
    }

/*Mise en page des dates de Detail*/
.sumdatedetail{
    border-top:4px solid #13191C;
    border-bottom:4px solid #13191C;
    margin:10px;
    padding-top: 5px;
    float: left;
    width: 47px;
    font-family: 'Lato', Arial;
    text-align: left;
    line-height: 22px;
    text-transform: uppercase;
    color: #13191C;
}

.sumdatedetail_number {
    font-weight: 900;
    font-size: 36px;
    letter-spacing: -1px;}

.sumdatedetail_jour {
    font-size: 22px;
    margin-top: 3px;
    font-weight: 500;}

.sumdatedetail_mois {
    font-size: 18px;
    letter-spacing: -1px;
    margin-top: -3px;
    font-weight: 500;
}

/*Mise en page des icons de communauté*/
.sumicone{
    float: left;
    margin-top: 13px;
    margin-left: 10px;
    margin-right: 10px;
    
}

/*Mise en page des résumés de Summary*/
.sumactus{
    display: inline-block;
    float: left;
    margin: 10px;
    width: 400px;
    height: 72px;

}

/*Mise en page des titres darticles de Summary*/
.sumactus_titre {
    text-transform: uppercase;
    font-weight: 700;
    color:#000;
    font-size:16px;
}

/*Mise en page du texte des résumés de Summary*/
.sumactus_res p{ 
    color:#000 !important;
    font-weight: 400;
    font-size:15px;}

/*Mise en page des résumés de Important*/
.impactus {
    width: 225px;
    height: 84px;
    overflow: hidden;    
    text-align: left;
    padding-top: 7px;
    font-weight: 700;
}

/*Mise en page des titres darticles de Important*/
.impactus_titre {
    text-transform: uppercase;
    font-weight: 700;
    color:#fff !important;
    opacity: 0.7 !important;
    width: 220px;
    text-align: left;
    margin-bottom: 3px;
    font-size:16px;
}

/*Mise en page du texte des résumés de Important*/
.impactus_res p{ 
    color:#fff !important;
    line-height: 17px;
    font-weight: 400;
    opacity: 0.5;
    font-size:15px;
}

/*Titre de la partie Important*/
.immanquables{
    text-align:left;
    width: 100%;
    padding:15px;
    height: 72px;
    margin-top: -20px;
}

.immanquables h3 { 
    font-size: 24px;
    color:#fff;
}

/* Affichage de l'erreur quand il n'y a pas d'article pour le mois et l'année demandée.*/
.erreur_mois {
    background-color:#13191c;
    color:#fff;
    width: 560px;
    margin-top: 10px;
    margin-left: 10px;
    padding: 7px;
}

/* MISE EN PAGE DE LA PARTIE DETAIL (Panneaux déroulants) */
/*Bouton de fermeture des panneaux détails.*/
.bouton_fermer {
    color:#13191c;
    cursor: pointer;
    font-size: 15px;
}

/*Titre de l'article dans le panneau*/
.titre_article_actus {
    color:#13191c;
    text-transform: uppercase;
    margin-left:5px;
    margin-top: 15px;
    font-weight: 700;
    font-size: 20px;
}

/* Mise en page du contenu de l'article dans le panneau*/
.contenu_article_actus {
    color:#13191c;
    margin-left:5px;
    font-size: 15px;
}

.contenu_article_actus p{
    margin: 0px 0px 24px;
    font-size: 15px;
    color: #13191C;
    font-weight: 400;
    font-family: "Lato",Arial;
}

/* Mise en page de la date et de l'icon communauté dans le panneau */
.date_icon {float: right;}